<p class="footer-entry"><%if(theme.bottom_text){%><%=theme.bottom_text%><%} else {%>©2020 <%=config.author%><%}%></p>
<p class="footer-entry"><a href="http://beian.miit.gov.cn">赣ICP备20003509号-1</a></p>
